*{
    margin: 0;
    padding:0;
}
body{
    /* background-color: red; */
    overflow: hidden; /*body ki extra hrkt rokne k liye h*/  
}
.gameContainer{
    background: url("../Diano Game/bg.jpg") no-repeat center center/cover;
    /* background-image: url(bg.jpg); */
    /* background-size: 100vw 100vh; */
    width: 100vw;
    height: 100vh;
}

.dino{
    background-image: url("../Diano Game/dino.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 242px;
    height: 122px;
    position: absolute;
    bottom: 4px;
    left: 59px;
}

.obstacle{
    width: 189px;
    height: 126px;
    background-image: url("../Diano Game/dragon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 4px;
    left: 60vw;
}



.gameOver{
    /* visibility: hidden; */
    top: 12px;
    font-size: 39px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #21f3cc;
    text-shadow: -2px 3px 2px rgb(169 206 25);
}

#scoreCont{
    display: block;
    margin: 80px auto;
    width: fit-content;
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    /* position: absolute; */
    /* right: 45px; */
    /* top: 48px; */
    border: 2px solid black;
    /* border-radius: 39rem; */
    padding: 14px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 17px;
    text-shadow: -2px 1px 1px #e00d0d;
    box-shadow: -4px -3px 1px #008800;
}


/* player jump kre */
 .animateDinoup{
    animation: dino 0.6s linear;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
}
/* .animateDinoright{
    animation: dino1 0.6s alternate-reverse;

} */
/* @keyframes dino1{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
} */
.disturbance{
    /* animation: disturbance 6s linear infinite; */
    animation: disturbance 6s linear infinite;
}
@keyframes disturbance{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
} 