@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0%;
  margin: 0%;
  color: #00d1ff;
  font-family: "Comfortaa", cursive;
}
body {
  background: #0e1320;
}
.container {
  position: absolute;
  margin: auto;
  width: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.display {
  height: fit-content;
  width: 87%;
  text-align: right;
  padding: 10px 30px;
}
.display1 {
  font-size: 25px;
  color: #00d1ff;
  margin-bottom: 18px;
  overflow-y: auto;
  max-height: 200px;
  line-height: 20px;
  padding-top: 10px;
}
.display2 {
  height: fit-content;
  width: 100%;
  font-size: 60px;
  color: #00ff0a;
  overflow-x: scroll;
}

.display1::-webkit-scrollbar,
.display2::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

table {
  border-spacing: 30px;
}
td {
  height: 65px;
  width: 65px;
  background: #0e1320;
  text-align: center;
  border-radius: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25),
    -4px -4px 6px rgba(29, 39, 66, 0.28);
}
td:active {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25),
    -4px -4px 6px rgba(29, 39, 66, 0.28),
    inset -4px -4px 6px rgba(29, 39, 66, 0.28),
    inset 4px 4px 10px rgba(0, 0, 0, 0.25);
}
td:nth-child(4) {
  background: linear-gradient(135deg, #ff3868 0%, #ff8515 100%);
  color: white;
  font-size: 25px;
  box-shadow: 0px 0px 30px rgba(255, 56, 104, 0.5);
}
tr:nth-child(5) td:nth-child(4) {
  background: linear-gradient(135deg, #00ff0a 0%, #00d1ff 100%);
  box-shadow: 0px 0px 30px rgba(0, 255, 10, 0.5);
}
.calculation {
  cursor: pointer;
}
@media only screen and (min-height: 320px) {
  td {
    height: 45px;
    width: 55px;
  }
  .display1 {
    font-size: 20px;
  }
  .display2 {
    font-size: 50px;
  }
}

@media only screen and (min-height: 667px) {
  td {
    height: 55px;
    width: 65px;
  }
}

@media only screen and (min-height: 736px) {
  td {
    height: 65px;
    width: 65px;
  }
}

@media only screen and (min-height: 800px) {
  td {
    height: 65px;
    width: 65px;
  }
}

@media only screen and (min-height: 812px) {
  td {
    height: 57px;
    width: 65px;
  }
}

@media only screen and (min-height: 823px) {
  td {
    height: 65px;
    width: 65px;
  }
}

@media only screen and (min-width: 900px) {
  td {
    cursor: pointer;
  }
}
