body{
    background-image: url("images/cool.png");
}

.heading{
    text-align: center;
    color:cornsilk;
    margin-top: 8rem;
}


label{
    color:slateblue;
    text-align: center;
}

.container{
    margin-top: 4rem;
}

#finalAns{
    background-color: white;
    text-align: center;
}