* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

html {
  background: #fff;
  height: 100%;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 900px;
  -webkit-box-shadow: 5px 42px 48px -34px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  box-shadow: 5px 42px 48px -34px rgba(0, 0, 0, 0.75);
}

.container .row .user_info {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container .row .user_info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #000;
  -o-object-fit: cover;
  object-fit: cover;
}

.container .row .repo {
  width: 70%;
  background-color: #fff;
}

.user_name {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.user_name h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.user_name h1 {
  font-size: 20px;
  margin: 5px 0;
}

.follow {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.follow .item p {
  font-size: 14px;
}

.follow .item span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.repo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: radial-gradient(circle, #FFBF00 0%, #EF820D 100%);
  color: #fff;
}

.repo h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

.repo .repo_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.repo .repo_details .item_ {
  width: 47%;
  border: 1px solid #424141;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.repo .repo_details .item_ .repo_name {
  font-size: 12px;
  margin-bottom: 10px;
}

.repo .repo_details .item_ .repo_details_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.repo .repo_details .item_ .repo_details_ .info_ {
  font-size: 12px;
}

.repo .repo_details .item_ .repo_details_ .info_.fork .fa {
  margin-right: 5px;
}

.repo .repo_details .item_ .repo_details_ .info_.size .fa {
  margin-right: 5px;
}

.input_wrapper {
  position: relative;
  width: 500px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid orange;
}

.input_wrapper .input_user {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  padding: 5px 160px 5px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input_wrapper .input_user::-webkit-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user:-ms-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user::-ms-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user::placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user:focus {
  outline: none;
}

.input_wrapper .btn_submit {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.download-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.download{
        background-color: #000;
        border: none;
        color: white;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 50px;
        border-radius: 4px;
        }
        button:hover{
        background-color: rgb(14,118,217);
}

.share {
  display: flex;
  margin-top: 30px;
  padding:5px;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}




.linkedin {
  background: #007bb5;
  color: white;
}

