.container{
    height: 100vh !important;
    width: 500px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.11);
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.btn:disabled{
    cursor: not-allowed;
    background-color: rgb(252,173,173);
}
.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
.form-text{
    color:rgb(38, 114, 8) !important;
    text-shadow: gray;
    font-weight: 500;
}