*{
    margin: 0;
    padding: 0;
    font-family:'Courier New';
    box-sizing:border-box;
    user-select:none;
    
    font-weight:700;
  }
  
  h1{
    padding-bottom:20px;
  }
  
  
  
  html,body{
    text-align:center;
    display:flex;
    height:100%;
    align-items:center;
    justify-content:space-between;
    
    background:#001f64;
  }
  
  .inputBox{
    position: relative;
   
     background: #BA55D3;
    width:500px;
    padding:20px 30px;
    border-radius:5px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
   height:400px;
  }
  
  .inputBox h2{
    font-size:24px;
    padding-left:15px;
  }
  
  .inputBox input{
    
    position:relative;
    width:30%;
    height:50px;
    border:none;
    margin:15px 0 20px;
    
    background:#fff;
    
    
    border:2px solid lightgrey;
    padding-left:15px;
    border-radius:5px;
    font-size:15px;
    outline:none;
     transition:all 0.2s;
     
    
  }
  
  .inputBox input:focus{
    border-color:#97E5D7;
    box-shadow:inset 0 0 3px #2fd072;
  }
  
  .inputBox #btn{
    outline:none;
    position:relative;
    color:black;
    font-weight:800;
    cursor:pointer;
    background: #97E5D7;
    font-size:20px;
    padding:10px 15px;
    border-radius:8px;
    width:150px;
    margin-left:1%;
  }
  
  
  
  .container{
    position:absolute;
    padding-left:80px;
    
  }
  
  
  
  
  
  
  
  label{
    padding-left:20px;
    padding-top:20px;
   float:left;
    font-size:20px;
    font-weight:700;
  }
  
  #stringLength{
    margin-left:-25px;
  }
  
  
  
  .container2{
    margin-left:700px;
  }
  
  
  #text{
    padding-top:10px;
  }