*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search{
    width: 60vw;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}