* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(178, 218, 214);
}

#game {
    width: 800px;
    height: 550px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background: url("flappy.jpg") no-repeat center center fixed;
    background-size: cover;
}

#block {
    height: 550px;
    width: 50px;
    background-color: chartreuse;
    position: relative;
    left: 800px;
    animation: block 2s infinite linear;
}

@keyframes block {
    0% {
        left: 800px;
    }
    100% {
        left: -50px;
    }
}

#hole {
    width: 50px;
    height: 150px;
    background-color: rgb(212, 237, 247);
    position: relative;
    left: 800px;
    top: -350px;
    animation: block 2s infinite linear;
}

#character {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    top: 150px;
    left: 300px;
}

h3 {
    display: none;
    opacity: 0.6;
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 38%;
    color: tomato;
}

h4 {
    position: absolute;
    top: 8px;
    left: 8px;
    color: tomato;
}

p {
    text-align: center;
    color: tomato;
    font-weight: 600;
}