* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 39, 39);
}

h1.text-center {
    font-family: 'Itim', sans-serif;
    font-weight: 400;
    color: rgb(111, 75, 158);
}

div.form-inline {
    max-width: 300px;
    margin: auto;
}

input.form-control {
    opacity: 0.5;
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}
.articles{
    font-size: 10px;
    color: #a1aab9;
}
.followers {
    font-size: 10px;
    color: #a1aab9;
}

.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}
.number3{
    font-weight: 500;
}
.number1{
    font-weight: 500;
}